<p>
<a href="http://dateprog.ntn/course/<%= @course.id %>"></a><%= @course.title %> has been UNpublished by <a href="http://dateprog.ntn/profile/<%= @user.id %>"><%= @user.name %></a>
</p>
<p>
<a href="http://dateprog.ntn/en/admin/courses/<%= @course.id %>">Click Here To Edit</a>
</p>
<p>or</p>
<p>
<a href="http://dateprog.ntn/courses/<%= @course.id %>">Here To View</a>
</p>
