<p>
<a href="http://dateprog.ntn/job/<%= @job.id %>"></a><%= @job.title %> has been UNpublished by <a href="http://dateprog.ntn/profile/<%= @user.id %>"><%= @user.name %></a>
</p>
<p>
<a href="http://dateprog.ntn/en/admin/jobs/<%= @job.id %>">Click Here To Approve</a>
</p>
<p>or </p>
<p>
<a href="http://dateprog.ntn/jobs/<%= @job.id %>">Here To View</a>
</p>